[Desktop Entry]
Type=Application
Name=Sqliteman
GenericName=Sqlite admin tool
Comment=Administer and develop your Sqlite3 databases
Icon=sqliteman
Exec=sqliteman %f
Terminal=false
StartupNotify=true
MimeType=application/x-sqlite3;
Categories=Database;Development;

# Translations
GenericName[cs]=Sqlite administrace

