[Desktop Entry]
Type=Application
Name=Sqliteman
GenericName=Sqlite admin tool
Comment=Administer and develop your Sqlite3 databases
Icon=/usr/share/icons/sqliteman.png
Exec=sqliteman %f
Terminal=false
Categories=Qt;Development;Database;
StartupNotify=true
MimeType=application/x-sqlite3;

# Translations
GenericName[cs]=Sqlite administrace

