[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Sqliteman
GenericName=Sqlite admin tool
Comment=Administer and develop your Sqlite3 databases
Icon=sqliteman.png
Exec=sqliteman %f
Terminal=false
Categories=Office;Database
StartupNotify=true
MimeType=application/x-sqlite3

# Translations
GenericName[cs]=Sqlite administrace

X-SuSE-translate=true
